.App-link {
  color: #61dafb;
}

.card-photo-size {
  padding-top: 20px;
  margin: 0 auto;
  height: 250px;
  width: 300px;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
